In [1]:
#NOTEBOOK SETUP FOR sql (esto tiene que ejecutarse una vez por notebook)
#load_ext sql
%reload_ext sql 
%sql mysql+mysqlconnector://root:root@localhost:3306/sakila

# Resolución de Práctica de Consultas SQL: Fáciles

### Ejercicio 1: Detalles del Personal
**Objetivo:** Encuentra los detalles de cada miembro del personal, incluyendo su nombre, apellido y la dirección completa donde viven.
**Tablas Necesarias:** `staff`, `address`.

In [8]:
%%sql

SELECT s.first_name Nombre, s.last_name Apellido, a.address "Dirección 1", a.address2 "Dirección 2", a.district "Distrito", c.city "Ciudad", n.country "País"
FROM staff s
JOIN address a USING (address_id)
JOIN city c USING (city_id)
JOIN country n USING (country_id)

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
2 rows affected.

[('Mike', 'Hillyer', '23 Workhaven Lane', None, 'Alberta', 'Lethbridge', 'Canada'),
 ('Jon', 'Stephens', '1411 Lillydale Drive', None, 'QLD', 'Woodridge', 'Australia')]

### Ejercicio 2: Películas por Idioma
**Objetivo:** Muestra todas las películas que están disponibles en francés, italiano o alemán. La lista debe estar ordenada primero por el nombre del idioma y luego por el título de la película.
**Tablas Necesarias:** `film`, `language`.

> **NOTA**:
>
>Todas las pelis estan en ingles asi que esta bien que de 0 filas

In [28]:
%%sql
SELECT f.title, l.name
FROM film f
JOIN language l USING (language_id) 
WHERE l.name IN ("French", "Italian", "German")
ORDER BY l.name, f.title;

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
0 rows affected.

[]

### Ejercicio 3: Películas por Idioma (con `IN`)
**Objetivo:** Lista (usando el operador `IN`) todas las películas cuyos idiomas sean 'French' o 'Italian'.
**Tablas Necesarias:** `film`, `language`.

In [24]:
%%sql
SELECT f.title, l.name
FROM film f
JOIN language l USING (language_id) 
WHERE l.name IN ("French", "Italian")

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
0 rows affected.

[]

> **NOTA**:
>
>Todas las pelis estan en ingles asi que esta bien que de 0 filas

### Ejercicio 4: Pagos por Empleado
**Objetivo:** Calcula el total de pagos (`amount`) procesados por cada miembro del personal. Muestra el nombre del empleado y el total que ha procesado.
**Tablas Necesarias:** `payment`, `staff`.

In [26]:
%%sql
SELECT
    staff.first_name AS Nombre,
    staff.last_name AS Apellido,
    SUM(payment.amount) AS TotalenMontosProcesados
FROM
    staff
JOIN
    payment USING (staff_id)
GROUP BY
staff.staff_id

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
2 rows affected.

[('Mike', 'Hillyer', Decimal('33482.50')),
 ('Jon', 'Stephens', Decimal('33924.06'))]

### Ejercicio 5: Conteo de Películas por Idioma
**Objetivo:** Cuenta el número de películas disponibles en cada idioma. El resultado debe mostrar el nombre del idioma y la cantidad de películas.
**Tablas Necesarias:** `film`, `language`.

In [27]:
%%sql
SELECT
    language.name AS Idioma,
    COUNT(film.film_id) AS "Cantidad De Peliculas"
FROM
    film
JOIN
    language USING (language_id)
GROUP BY
    language.language_id

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
1 rows affected.

[('English', 1000)]