In [1]:
#NOTEBOOK SETUP FOR sql (esto tiene que ejecutarse una vez por notebook)
#load_ext sql
%reload_ext sql 
%sql mysql+mysqlconnector://root:root@localhost:3306/sakila

# Sistema de Consultas SQL: SELECT
SQL (Structured Query Language) es el lenguaje que usamos para comunicarnos con las bases de datos relacionales, y la instrucción SELECT es, sin duda, la herramienta más fundamental y poderosa de nuestro arsenal.

## Un cambio de Paradigma: Pensamiento Descriptivo
Antes de escribir nuestra primera línea de código, es crucial entender la filosofía de SQL. A diferencia de lenguajes como Python o Java, SQL es descriptivo, no procedimental.

- Procedimental (Cómo): Le das al ordenador una serie de pasos para llegar a un resultado. "Primero, crea una lista vacía. Luego, recorre cada fila de la tabla. Si el valor de la columna 'apellido' es 'SMITH', añade esa fila a la lista. Finalmente, muéstrame la lista".

- Descriptivo (Qué): Simplemente le describes al sistema de base de datos el resultado que deseas. "Selecciona los nombres de los actores, ordenados alfabeticamente y que al mismo tiempo tengan 27 años o más".

El motor de la base de datos (en nuestro caso, MySQL) se encarga de averiguar la forma más eficiente de encontrar y devolverte esa información. Nuestro trabajo es aprender a describir lo que queremos con precisión.

## Sintaxis y Léxico: El lenguaje de SQL

### DDL vs DML

Los comandos que se pueden ejecutar en SQL provienen de dos fuentes o categorías:

#### DDL | Data Definition Language

Son los comandos que definen y gestionan la estructura de la base de datos y sus objetos (tablas, índices, etc.). Moldea las relaciones y como se interrelacionan, se puede realizar un mapeo cuasi directo a esquemas algebráicos relacionales, o a Esquemas de Entidad Relación. Los comandos que se hallan en esta sección son:
- `CREATE`: Crea una nueva tabla, base de datos, etc.

- `ALTER`: Altera una estructura existente.
- `DROP`: Elimina una estructura.

#### DML | Data Manipulation Language

Son los comandos que usamos para interactuar con los datos dentro de las tablas. Permite poblar, filtrar, analizar y actualizar nuestra estructura creada según la lógica de negocio con información de la vida real.
Los comandos que se hallan en esta sección son:
- `SELECT`: Para agrupar y leer datos.
- `INSERT`: Para agregar nuevas filas de datos.
- `UPDATE`: Para modificar datos en filas existentes.
- `DELETE`: Para eliminar filas de datos.

### La Anatomía de una Consulta

Analicemos una consulta para identificar sus partes. Cada parte tiene un nombre y un propósito específico.

```sql
-- Obtener el ID de cliente que más a pagado en una sola operación de pago.
SELECT
    customer_id AS "ID del Cliente",
    amount AS "Monto del Pago"
FROM
    payment
WHERE
    amount > 5.00
ORDER BY
    amount DESC
LIMIT 1;
```

- **Cláusula**: Una sección de la consulta que comienza con una palabra clave como `SELECT`, `FROM`, `WHERE`, `ORDER BY`. Son las "oraciones" que componen nuestro párrafo.

- **Palabra Clave (Keyword)**: Palabras reservadas que tienen un significado especial en SQL. Ejemplos: `SELECT`, `FROM`, `AS`, `ORDER BY`, `DESC`.

- **Modificadores**: Palabras reservadas que modifican a una cláusula o una función de cierta forma. Ejemplos: `DESC`, `DISTINCT`.

- **Identificador**: Los nombres que damos a nuestras tablas, columnas, etc. Ejemplos: `payment`, `customer_id`, `amount`.

- **Alias:** Un apodo temporal que le damos a una columna o tabla para hacer la consulta más legible o para evitar ambigüedades. Ejemplo: 'Monto del Pago'.

- **Operador**: Símbolos que realizan una operación, como una comparación matemática o lógica. Ejemplo: `>`.

- **Literal**: Un valor fijo, como un número o una cadena de texto. Ejemplo: `5.00.`

- **Comentario**: Texto que el motor de la base de datos ignora. Útil para documentar tu código. Se escribe con -- para una línea o /* ... */ para múltiples líneas.

- **Predicado**: Si bien aplica generalmente para `WHERE` solamente, me gusta utilizar este término junto a "Argumento" para describir a lo que sucede a una Cláusula.
Por ejemplo, para la consulta: `SELECT * FROM actor`, tanto `*` como `actor` serían predicados de las cláusulas SELECT y FROM, respectivamente. 
Además, el predicado podrá tomar un nombre específico segun su cláusula. Por ejemplo, `*` podría ser "*Lista de Columnas de Selección*" y `actor` sería "*Expresión de Tabla de origen*".

### Tipos de Datos Fundamentales en MySQL

Cada columna en una tabla debe tener un tipo de dato definido. Esto le dice a la base de datos qué tipo de información puede almacenar, optimizando el rendimiento y asegurando la integridad de los datos.

#### Tipos Numéricos

| Nombre del Tipo | Descripción Breve | Ejemplo Práctico |
| :--- | :--- | :--- |
| `TINYINT` | Entero muy pequeño. | `1` (usado para `BOOLEAN`) o `127`. |
| `SMALLINT` | Entero pequeño. | `1024`, `-5000` |
| `MEDIUMINT` | Entero mediano. | `100000` |
| `INT` / `INTEGER` | Entero estándar. | `2147483647` |
| `BIGINT` | Entero muy grande. | Para IDs en tablas con miles de millones de filas. |
| `DECIMAL(p, s)` | **Número de precisión fija**, ideal para dinero. | `DECIMAL(10, 2)` puede almacenar `12345678.90` |
| `FLOAT` / `DOUBLE` | Número con decimales (precisión aproximada). | Para cálculos científicos como `3.14159265` |
| `BOOL` / `BOOLEAN` | Valor `TRUE` (1) o `FALSE` (0). | `TRUE` |
| `BIT(n)` | Campo de n bits. | `BIT(8)` para almacenar 8 flags (opciones sí/no). |

#### Tipos para Fecha y Hora
| Nombre del Tipo | Descripción Breve | Ejemplo Práctico |
| :--- | :--- | :--- |
| `DATE` | Solo fecha. | `'2024-12-31'` |
| `TIME` | Solo hora. | `'17:30:00'` |
| `DATETIME` | Fecha y hora combinadas. | `'2024-12-31 23:59:59'` |
| `TIMESTAMP` | Marca de tiempo (auto-actualizable). | Para columnas como `fecha_modificacion`. |
| `YEAR` | Solo año (en 4 dígitos). | `2024` |

#### Tipos para Cadenas de Texto (strings)
| Nombre del Tipo | Descripción Breve | Ejemplo Práctico |
| :--- | :--- | :--- |
| `CHAR(n)` | Texto de **longitud fija** (siempre `n` caracteres). | `CHAR(2)` para un código de país como `'AR'` |
| `VARCHAR(n)` | Texto de **longitud variable** (hasta `n` caracteres). | `VARCHAR(100)` para un nombre como `'Juan Pérez'` |
| `TINYTEXT` | Texto corto (hasta 255 caracteres). | Para un tweet o un estado corto. |
| `TEXT` | Texto estándar (hasta ~64,000 caracteres). | Para la descripción de un producto. |
| `MEDIUMTEXT` | Texto largo. | Para el cuerpo de un artículo de blog. |
| `LONGTEXT` | Texto muy largo. | Para almacenar el contenido de un libro. |

#### Tipos Binarios (BLOBs)
| Nombre del Tipo | Descripción Breve | Ejemplo Práctico |
| :--- | :--- | :--- |
| `BINARY(n)` | Bytes de **longitud fija** (similar a `CHAR`). | Para un hash de contraseña de longitud fija. |
| `VARBINARY(n)` | Bytes de **longitud variable** (similar a `VARCHAR`). | Para datos binarios de longitud variable. |
| `TINYBLOB` | Datos binarios pequeños. | Para una imagen en miniatura (thumbnail). |
| `BLOB` | Datos binarios estándar. | Para una imagen pequeña o un icono. |
| `MEDIUMBLOB` | Datos binarios largos. | Para un archivo de audio corto o un PDF. |
| `LONGBLOB` | Datos binarios muy largos. | Para un archivo de video. |

#### Tipos Especiales
| Nombre del Tipo | Descripción Breve | Ejemplo Práctico |
| :--- | :--- | :--- |
| `ENUM(...)` | Elegir **un solo valor** de una lista predefinida. | `ENUM('Rojo', 'Verde', 'Azul')` -> `'Verde'` |
| `SET(...)` | Elegir **cero o más valores** de una lista predefinida. | `SET('WiFi', 'Piscina')` -> `'WiFi,Piscina'` |

### Funciones y Operadores en MySQL

Si la cantidad de tipos de datos ya era abrumadora, acá nos volvemos locos. MySQL tiene muchísimas funciones y operadores.
#### Operadores
| Tipo de Operador | Descripción Breve | Operadores y Ejemplos |
| :--- | :--- | :--- |
| **Aritméticos** | Realizan operaciones matemáticas. | `+`, `-`, `*`, `/`, `%` (Módulo) <br><br> EJ: `precio * 1.21` |
| **De Comparación**| Comparan dos valores; devuelven `TRUE` o `FALSE`. | `=`, `!=` (ó `<>`), `>`, `<`, `>=`, `<=` <br><br> EJ:  `amount > 5.00` |
| **Lógicos** | Combinan múltiples condiciones `TRUE`/`FALSE`. | `AND`, `OR`, `NOT` <br><br> EJ:  `city = 'London' AND active = 1` |
| **De Pertenencia** | Verifican si un valor existe en un conjunto o rango. | `IN`, `NOT IN`, `BETWEEN`, `NOT BETWEEN` <br><br> EJ:  `country_id IN (1, 10, 25)` <br> EJ:  `amount BETWEEN 5 AND 10` |
| **De Patrones** | Buscan coincidencias con un patrón de texto. | `LIKE`, `NOT LIKE` <br> EJ:  `last_name LIKE 'S%'` |
| **De Nulidad** | Verifican si un valor es nulo. | `IS NULL`, `IS NOT NULL` <br><br> EJ:  `return_date IS NULL` |

#### Funciones

| Nombre de la Categoría | Descripción Breve | Funciones de Ejemplo |
| :--- | :--- | :--- |
| **Funciones de Agregación** | Colapsan múltiples filas en un único valor de resumen. | `COUNT()`, `SUM()`, `AVG()`, `MIN()`, `MAX()`, `GROUP_CONCAT()` |
| **Funciones de Texto y Cadenas**| Manipulan y transforman cadenas de texto. | `CONCAT()`, `SUBSTRING()`, `UPPER()`, `REPLACE()`, `TRIM()` |
| **Funciones de Fechas** | Operan sobre datos de tipo fecha y hora. | `NOW()`, `DATEDIFF()`, `DATE_ADD()`, `DATE_FORMAT()`, `YEAR()` |
| **Funciones Numéricas** | Realizan cálculos y operaciones matemáticas básicas. | `ROUND()`, `CEIL()`, `FLOOR()`, `ABS()`, `RAND()`, `MOD()` |
| **Funciones de Control de Flujo** | Permiten lógica condicional dentro de las consultas. | `CASE`, `IF()`, `IFNULL()`, `COALESCE()` |
| **Funciones de Casteo** | Convierten explícitamente datos de un tipo a otro. | `CAST()`, `CONVERT()` |
| **Funciones de Ventana** | Realizan cálculos sobre un 'marco' de filas relacionadas. | `ROW_NUMBER()`, `RANK()`, `LEAD()`, `LAG()`, `SUM() OVER ()` |
| **Funciones de Información** | Devuelven metadatos sobre la sesión o el servidor. | `DATABASE()`, `VERSION()`, `USER()`, `LAST_INSERT_ID()` |
| **Funciones JSON** | Extraen y manipulan datos de columnas tipo JSON. | `JSON_EXTRACT()`, `JSON_OBJECT()`, `JSON_ARRAY()`, `JSON_TABLE()` |
| **Funciones de Encripción y Compresión** | Para seguridad de datos y optimización de almacenamiento. | `AES_ENCRYPT()`, `SHA2()`, `MD5()`, `COMPRESS()`, `UNCOMPRESS()` |
| **Funciones de a Bit** | Operan a nivel de bits en valores numéricos. | `&` (AND), `|` (OR), `^` (XOR), `~` (NOT), `BIT_COUNT()` |
| **Funciones de Análisis Espacial** | Trabajan con datos geográficos y geométricos (GIS). | `ST_Distance()`, `ST_Contains()`, `ST_AsText()`, `ST_Point()` |
| **Funciones Misceláneas** | Funciones útiles que no encajan en otras categorías. | `SLEEP()`, `UUID()`, `INET_ATON()`, `INET_NTOA()` |
| **Funciones de Locking** | Gestionan bloqueos explícitos para control de concurrencia. | `GET_LOCK()`, `RELEASE_LOCK()`, `IS_FREE_LOCK()` |
| **Funciones XML** | Extraen y manipulan datos de documentos XML. | `ExtractValue()`, `UpdateXML()` |
| **Funciones de Matemática de Precisión** | Aseguran exactitud en cálculos con `DECIMAL`. | (Operadores sobrecargados: `+`, `-`, `*`, `/`) |
| **Funciones de Esquema de Rendimiento** | Para consultar métricas de rendimiento del servidor. | `FORMAT_BYTES()`, `FORMAT_PICO_TIME()` |
| **Funciones de Replicación** | Para administrar y consultar el estado de la replicación (DBA).| `SOURCE_POS_WAIT()`, `GROUP_REPLICATION_SET_AS_PRIMARY()` |
| **Funciones Cargables (UDF)** | Permiten extender MySQL con funciones propias. | (No hay ejemplos predefinidos; son creadas por el usuario) |
| **Funciones Internas** | Usadas por MySQL internamente; no para uso general. | |
| **Funciones Built-in** | Término general para todas las funciones que vienen con MySQL. | (Esta es una meta-categoría, no un grupo funcional) |

## Sakila: Nuestra Base de Datos Predilecta para Aprender
La base de datos Sakila es un ejemplo estándar proporcionado por MySQL para aprender y practicar consultas SQL.

Contiene datos de una tienda de alquiler de películas, con tablas bien estructuradas como `film`, `actor`, `customer`, y `rental`, que representan relaciones comunes en bases de datos reales.

### Esquema Relacional de Sakila

#### Leyenda:
- <span style="color:#007BFF;">Clave Primaria (PK)</span>: Azul y en negrita.

- <span style="color:#28a745;">Clave Foránea (FK)</span>: Verde y en cursiva.

- <span style="color:#9400D3;">PK y FK (Tabla de Unión)</span>: Púrpura, en negrita y cursiva.

#### Tablas

actor(<strong><span style="color:#007BFF;">actor_id</span></strong>, first_name, last_name, last_update)
<br><br>
country(<strong><span style="color:#007BFF;">country_id</span></strong>, country, last_update)
<br><br>
city(<strong><span style="color:#007BFF;">city_id</span></strong>, city, <em><span style="color:#28a745;">country_id</span></em>, last_update)
<br><br>
address(<strong><span style="color:#007BFF;">address_id</span></strong>, address, address2, district, <em><span style="color:#28a745;">city_id</span></em>, postal_code, phone, location, last_update)
<br><br>
language(<strong><span style="color:#007BFF;">language_id</span></strong>, name, last_update)
<br><br>
category(<strong><span style="color:#007BFF;">category_id</span></strong>, name, last_update)
<br><br>
film(<strong><span style="color:#007BFF;">film_id</span></strong>, title, description, release_year, <em><span style="color:#28a745;">language_id</span></em>, <em><span style="color:#28a745;">original_language_id</span></em>, rental_duration, rental_rate, length, replacement_cost, rating, special_features, last_update)
<br><br>
store(<strong><span style="color:#007BFF;">store_id</span></strong>, <em><span style="color:#28a745;">manager_staff_id</span></em>, <em><span style="color:#28a745;">address_id</span></em>, last_update)
<br><br>
staff(<strong><span style="color:#007BFF;">staff_id</span></strong>, first_name, last_name, <em><span style="color:#28a745;">address_id</span></em>, picture, email, <em><span style="color:#28a745;">store_id</span></em>, active, username, password, last_update)
<br><br>
customer(<strong><span style="color:#007BFF;">customer_id</span></strong>, <em><span style="color:#28a745;">store_id</span></em>, first_name, last_name, email, <em><span style="color:#28a745;">address_id</span></em>, active, create_date, last_update)
<br><br>
inventory(<strong><span style="color:#007BFF;">inventory_id</span></strong>, <em><span style="color:#28a745;">film_id</span></em>, <em><span style="color:#28a745;">store_id</span></em>, last_update)
<br><br>
rental(<strong><span style="color:#007BFF;">rental_id</span></strong>, rental_date, <em><span style="color:#28a745;">inventory_id</span></em>, <em><span style="color:#28a745;">customer_id</span></em>, return_date, <em><span style="color:#28a745;">staff_id</span></em>, last_update)
<br><br>
payment(<strong><span style="color:#007BFF;">payment_id</span></strong>, <em><span style="color:#28a745;">customer_id</span></em>, <em><span style="color:#28a745;">staff_id</span></em>, <em><span style="color:#28a745;">rental_id</span></em>, amount, payment_date, last_update)
<br><br>
<hr>
<!-- Tablas de Unión (Relaciones Muchos a Muchos) -->
film_actor(<strong><em><span style="color:#9400D3;">actor_id</span></em></strong>, <strong><em><span style="color:#9400D3;">film_id</span></em></strong>, last_update)
<br><br>
film_category(<strong><em><span style="color:#9400D3;">film_id</span></em></strong>, <strong><em><span style="color:#9400D3;">category_id</span></em></strong>, last_update)
<br><br>
<hr>
<!-- Tabla especial sin FK formal -->
film_text(<strong><span style="color:#007BFF;">film_id</span></strong>, title, description)

## Haciendo Consultas y Aprendiendo Sintaxis

> ### TIP de Mentalidad: El `SELECT` es un MOTOR DE TRANSFORMACIÓN
> Es un error común pensar en `SELECT` como una simple instrucción para "seleccionar" filas. Esa visión se queda corta. La verdadera potencia de `SELECT` reside en su capacidad para actuar como un completo motor de transformación de datos.
> Con una sola consulta, no solo lees datos, sino que describís un resultado final completamente nuevo. Pensá en cambio, que el `SELECT` es una línea de ensamblaje donde podés hacer de todo:
>- Unir piezas de diferentes fuentes (ver `JOIN`).
>- Filtrar y descartar lo que no sirve (ver `WHERE`, `HAVING`).
>- Calcular nuevos valores y atributos sobre la marcha (ver funciones, `CASE`).
>- Presentar le producto final en el orden y formato que se desea (ver funciones, `ORDER BY`).
>- Analizar información del negocio y las implicaciones de la información que se posee.

### La Consulta más Simple

Empecemos con lo más básico. Ni siquiera necesitamos una tabla para hacer una consulta. Podemos pedirle a SQL que nos devuelva un valor literal.

In [4]:
%%sql
SELECT 420

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
1 rows affected.

[(420,)]

### ``AS``: El A.K.A de las tablas

En SQL, un **alias** es un nombre alternativo que le damos a una tabla o columna para simplificar las consultas, hacerlas más legibles o abreviar nombres largos.

Se usa la palabra clave `AS` (es opcional) para definir un alias. Es especialmente útil cuando trabajamos con varias tablas o cuando queremos que el resultado tenga nombres de columnas más claros.

In [8]:
%%sql
SELECT 420 AS "El mejor número de la Historia"

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
1 rows affected.

[(420,)]

### ```FROM```: ¿De dónde Sacamos los Datos?

Ahora, hagamos algo útil. Para consultar datos reales, necesitamos decirle a SQL de qué tabla obtenerlos. Para eso usamos la cláusula ```FROM```.

In [12]:
%%sql
-- "Seleccioná todo los campos de la tabla language (y devolvémelo como tabla)"  
SELECT * FROM language;

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
6 rows affected.

[(1, 'English', datetime.datetime(2006, 2, 15, 5, 2, 19)),
 (2, 'Italian', datetime.datetime(2006, 2, 15, 5, 2, 19)),
 (3, 'Japanese', datetime.datetime(2006, 2, 15, 5, 2, 19)),
 (4, 'Mandarin', datetime.datetime(2006, 2, 15, 5, 2, 19)),
 (5, 'French', datetime.datetime(2006, 2, 15, 5, 2, 19)),
 (6, 'German', datetime.datetime(2006, 2, 15, 5, 2, 19))]

> **NOTA** (Parece redundante pero porque no vimos JOINs aun):
>
> - Podés referirte a un atributo usando el nombre de su tabla de origen
>   ```sql
>   SELECT language.language_id, language.name FROM language
>   ```
> - ¡También podés usar alias para esa tabla!:
>   ```sql
>   SELECT l.language_id, l.name FROM language AS l
>   ```

### ``*`` , Adiós: Limitando las Columnas/Campos

Rara vez se necesita acceder a todas las columnas o campos de una tabla. Quizás, según el ejemplo anterior, no nos interese el campo `last_update`, por ejemplo. Para específicamente evitar traernos todas las columnas o campos con nosotros, evitamos el "`*`" que antes nos indicaba justamente eso, **_traeme todo_** y en su lugar explicitaremos los campos que necesitamos.

In [ ]:
%%sql
-- "Seleccioná solo los campos language_id y name de la tabla language 
--  (y devolvémelo como tabla)"
SELECT language_id AS identificación, name AS "nombre del lenguaje" FROM language;

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
6 rows affected.

[(1, 'English'),
 (2, 'Italian'),
 (3, 'Japanese'),
 (4, 'Mandarin'),
 (5, 'French'),
 (6, 'German')]

### ```LIMIT```: Limitando Filas o Entradas a lo Bruto

Trabajamos generalmente con BBDD muy grandes, muchas veces con millones de entradas. Quizás queremos limitar el número de entradas o filas que una consulta nos devolverá. Esto se realiza con ```LIMIT```.

In [ ]:
%%sql
-- "Seleccioná todos los campos de la tabla film (y devolvémelo como tabla), 
--  aunque solo necesito 3 entradas"
SELECT * FROM film LIMIT 3;

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
3 rows affected.

[(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, None, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', {'Deleted Scenes', 'Behind the Scenes'}, datetime.datetime(2006, 2, 15, 5, 3, 42)),
 (2, 'ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 2006, 1, None, 3, Decimal('4.99'), 48, Decimal('12.99'), 'G', {'Trailers', 'Deleted Scenes'}, datetime.datetime(2006, 2, 15, 5, 3, 42)),
 (3, 'ADAPTATION HOLES', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', 2006, 1, None, 7, Decimal('2.99'), 50, Decimal('18.99'), 'NC-17', {'Trailers', 'Deleted Scenes'}, datetime.datetime(2006, 2, 15, 5, 3, 42))]

### ```WHERE```: Limitando Filas o Entradas a lo Inteligente, FILTRANDO

Acá entra en juego el poder descriptivo del SQL. La cláusula ``WHERE`` nos permite especificar condiciones para filtrar las filas que queremos ver.

La consulta se procesa lógicamente así: 

1. MySQL mira la tabla en FROM. 
2. Aplica el filtro WHERE para decidir qué filas conservar.
3. Finalmente, devuelve las columnas que pediste en SELECT de esas filas filtradas.

> **NOTA:** No es necesario que el predicado de `WHERE` esté dentro de la lista de columnas seleccionadas (predicado de `SELECT`). Podemos hacer entonces algo como esto:
>
> `SELECT language_id, name  FROM language WHERE YEAR(last_update)<= 2006;` 
>
> (Podemos apreciar que `last_update` está en language, pero no en el predicado de `SELECT`!)

In [ ]:
%%sql
-- "Seleccioná las entradas de todos los campos de la tabla actor,
--  pero solo para aquellas donde el campo "primer nombre" empieza con John (y devolveme el resultado como tabla),"
SELECT * FROM actor WHERE first_name like 'JOHN%';

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
3 rows affected.

[(5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (40, 'JOHNNY', 'CAGE', datetime.datetime(2006, 2, 15, 4, 34, 33)),
 (192, 'JOHN', 'SUVARI', datetime.datetime(2006, 2, 15, 4, 34, 33))]

### ``ORDER BY``: Cuando Queremos Poner las Cosas en Orden

La cláusula ``ORDER BY`` hace exactamente lo que su nombre indica: ordena las filas del resultado final. Es increíblemente útil para encontrar los valores más altos, los más bajos, o simplemente para presentar la información de una manera lógica.

Se la suele colocar casi al final de cualquier consulta, aunque antes que ``LIMIT`` (si es que esta última se encuentra en la consulta también). Tiene dos modificadores que van de la mano con la cláusula:

- ``DESC``: Lo usamos para ordenar de mayor a menor (descendente).

- `ASC`: Lo usamos para ordenar de menor a mayor (ascendente; opcional ya que es el predeterminado)

El SQL entiende que si hay numeros el orden será numérico, si hay caracteres el orden será alfabético, etc.

> **NOTA:**  
> Podés ordenar por varios atributos usando `ORDER BY`.
>  
> El primer atributo define el orden principal; si hay empates, se desempata usando el segundo atributo, y así sucesivamente según el orden en que los coloques.

In [9]:
%%sql
-- "Seleccioná los 10 primeros actores ordenados alfabéticamente por apellido y luego por nombre."

SELECT actor_id, first_name, last_name
FROM actor
ORDER BY last_name ASC, first_name ASC
LIMIT 10;

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
10 rows affected.

[(58, 'CHRISTIAN', 'AKROYD'),
 (182, 'DEBBIE', 'AKROYD'),
 (92, 'KIRSTEN', 'AKROYD'),
 (118, 'CUBA', 'ALLEN'),
 (145, 'KIM', 'ALLEN'),
 (194, 'MERYL', 'ALLEN'),
 (76, 'ANGELINA', 'ASTAIRE'),
 (112, 'RUSSELL', 'BACALL'),
 (190, 'AUDREY', 'BAILEY'),
 (67, 'JESSICA', 'BAILEY')]