In [2]:
#NOTEBOOK SETUP FOR sql (esto tiene que ejecutarse una vez por notebook)
#load_ext sql
%reload_ext sql 
%sql mysql+mysqlconnector://root:root@localhost:3306/sakila

# Sistema de Consultas SQL: SELECT
SQL (Structured Query Language) es el lenguaje que usamos para comunicarnos con las bases de datos relacionales, y la instrucción SELECT es, sin duda, la herramienta más fundamental y poderosa de nuestro arsenal.

## Un cambio de Paradigma: Pensamiento Descriptivo
Antes de escribir nuestra primera línea de código, es crucial entender la filosofía de SQL. A diferencia de lenguajes como Python o Java, SQL es descriptivo, no procedimental.

- Procedimental (Cómo): Le das al ordenador una serie de pasos para llegar a un resultado. "Primero, crea una lista vacía. Luego, recorre cada fila de la tabla. Si el valor de la columna 'apellido' es 'SMITH', añade esa fila a la lista. Finalmente, muéstrame la lista".

- Descriptivo (Qué): Simplemente le describes al sistema de base de datos el resultado que deseas. "Selecciona los nombres de los actores, ordenados alfabeticamente y que al mismo tiempo tengan 27 años o más".

El motor de la base de datos (en nuestro caso, MySQL) se encarga de averiguar la forma más eficiente de encontrar y devolverte esa información. Nuestro trabajo es aprender a describir lo que queremos con precisión.

## Sakila: Nuestra Base de Datos Predilecta
La base de datos Sakila es un ejemplo estándar proporcionado por MySQL para aprender y practicar consultas SQL.

Contiene datos de una tienda de alquiler de películas, con tablas bien estructuradas como `film`, `actor`, `customer`, y `rental`, que representan relaciones comunes en bases de datos reales.

### Esquema Relacional de Sakila

#### Leyenda:
- <span style="color:#007BFF;">Clave Primaria (PK)</span>: Azul y en negrita.

- <span style="color:#28a745;">Clave Foránea (FK)</span>: Verde y en cursiva.

- <span style="color:#9400D3;">PK y FK (Tabla de Unión)</span>: Púrpura, en negrita y cursiva.

#### Tablas

actor(<strong><span style="color:#007BFF;">actor_id</span></strong>, first_name, last_name, last_update)
<br><br>
country(<strong><span style="color:#007BFF;">country_id</span></strong>, country, last_update)
<br><br>
city(<strong><span style="color:#007BFF;">city_id</span></strong>, city, <em><span style="color:#28a745;">country_id</span></em>, last_update)
<br><br>
address(<strong><span style="color:#007BFF;">address_id</span></strong>, address, address2, district, <em><span style="color:#28a745;">city_id</span></em>, postal_code, phone, location, last_update)
<br><br>
language(<strong><span style="color:#007BFF;">language_id</span></strong>, name, last_update)
<br><br>
category(<strong><span style="color:#007BFF;">category_id</span></strong>, name, last_update)
<br><br>
film(<strong><span style="color:#007BFF;">film_id</span></strong>, title, description, release_year, <em><span style="color:#28a745;">language_id</span></em>, <em><span style="color:#28a745;">original_language_id</span></em>, rental_duration, rental_rate, length, replacement_cost, rating, special_features, last_update)
<br><br>
store(<strong><span style="color:#007BFF;">store_id</span></strong>, <em><span style="color:#28a745;">manager_staff_id</span></em>, <em><span style="color:#28a745;">address_id</span></em>, last_update)
<br><br>
staff(<strong><span style="color:#007BFF;">staff_id</span></strong>, first_name, last_name, <em><span style="color:#28a745;">address_id</span></em>, picture, email, <em><span style="color:#28a745;">store_id</span></em>, active, username, password, last_update)
<br><br>
customer(<strong><span style="color:#007BFF;">customer_id</span></strong>, <em><span style="color:#28a745;">store_id</span></em>, first_name, last_name, email, <em><span style="color:#28a745;">address_id</span></em>, active, create_date, last_update)
<br><br>
inventory(<strong><span style="color:#007BFF;">inventory_id</span></strong>, <em><span style="color:#28a745;">film_id</span></em>, <em><span style="color:#28a745;">store_id</span></em>, last_update)
<br><br>
rental(<strong><span style="color:#007BFF;">rental_id</span></strong>, rental_date, <em><span style="color:#28a745;">inventory_id</span></em>, <em><span style="color:#28a745;">customer_id</span></em>, return_date, <em><span style="color:#28a745;">staff_id</span></em>, last_update)
<br><br>
payment(<strong><span style="color:#007BFF;">payment_id</span></strong>, <em><span style="color:#28a745;">customer_id</span></em>, <em><span style="color:#28a745;">staff_id</span></em>, <em><span style="color:#28a745;">rental_id</span></em>, amount, payment_date, last_update)
<br><br>
<hr>
<!-- Tablas de Unión (Relaciones Muchos a Muchos) -->
film_actor(<strong><em><span style="color:#9400D3;">actor_id</span></em></strong>, <strong><em><span style="color:#9400D3;">film_id</span></em></strong>, last_update)
<br><br>
film_category(<strong><em><span style="color:#9400D3;">film_id</span></em></strong>, <strong><em><span style="color:#9400D3;">category_id</span></em></strong>, last_update)
<br><br>
<hr>
<!-- Tabla especial sin FK formal -->
film_text(<strong><span style="color:#007BFF;">film_id</span></strong>, title, description)

## Haciendo Consultas y Aprendiendo Sintaxis

### La Consulta más Simple

Empecemos con lo más básico. Ni siquiera necesitamos una tabla para hacer una consulta. Podemos pedirle a SQL que nos devuelva un valor literal.

In [4]:
%%sql
SELECT 420

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
1 rows affected.

[(420,)]

### ``AS``: El A.K.A de las tablas

En SQL, un **alias** es un nombre alternativo que le damos a una tabla o columna para simplificar las consultas, hacerlas más legibles o abreviar nombres largos.

Se usa la palabra clave `AS` (es opcional) para definir un alias. Es especialmente útil cuando trabajamos con varias tablas o cuando queremos que el resultado tenga nombres de columnas más claros.

In [8]:
%%sql
SELECT 420 AS "El mejor número de la Historia"

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
1 rows affected.

[(420,)]

### ```FROM```: ¿De dónde Sacamos los Datos?

Ahora, hagamos algo útil. Para consultar datos reales, necesitamos decirle a SQL de qué tabla obtenerlos. Para eso usamos la cláusula ```FROM```.

In [ ]:
%%sql
-- "Seleccioná todo los campos de la tabla language (y devolvémelo como tabla)"  
SELECT * FROM language;

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
6 rows affected.

[(1, 'English', datetime.datetime(2006, 2, 15, 5, 2, 19)),
 (2, 'Italian', datetime.datetime(2006, 2, 15, 5, 2, 19)),
 (3, 'Japanese', datetime.datetime(2006, 2, 15, 5, 2, 19)),
 (4, 'Mandarin', datetime.datetime(2006, 2, 15, 5, 2, 19)),
 (5, 'French', datetime.datetime(2006, 2, 15, 5, 2, 19)),
 (6, 'German', datetime.datetime(2006, 2, 15, 5, 2, 19))]

### ``*`` , Adiós: Limitando las Columnas/Campos

Rara vez se necesita acceder a todas las columnas o campos de una tabla. Quizás, según el ejemplo anterior, no nos interese el campo last_update, por ejemplo. Para específicamente evitar traernos todas las columnas o campos con nosotros, evitamos el "*" que antes nos indicaba justamente eso, **_traeme todo_** y en su lugar explicitaremos los campos que necesitamos.

In [ ]:
%%sql
-- "Seleccioná solo los campos language_id y name de la tabla language 
--  (y devolvémelo como tabla)"
SELECT language_id AS identificación, name AS "nombre del lenguaje" FROM language;

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
6 rows affected.

[(1, 'English'),
 (2, 'Italian'),
 (3, 'Japanese'),
 (4, 'Mandarin'),
 (5, 'French'),
 (6, 'German')]

### ```LIMIT```: Limitando Filas o Entradas a lo Bruto

Trabajamos generalmente con BBDD muy grandes, muchas veces con millones de entradas. Quizás queremos limitar el número de entradas o filas que una consulta nos devolverá. Esto se realiza con ```LIMIT```.

In [ ]:
%%sql
-- "Seleccioná todos los campos de la tabla film (y devolvémelo como tabla), 
--  aunque solo necesito 3 entradas"
SELECT * FROM film LIMIT 3;

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
3 rows affected.

[(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, None, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', {'Deleted Scenes', 'Behind the Scenes'}, datetime.datetime(2006, 2, 15, 5, 3, 42)),
 (2, 'ACE GOLDFINGER', 'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China', 2006, 1, None, 3, Decimal('4.99'), 48, Decimal('12.99'), 'G', {'Trailers', 'Deleted Scenes'}, datetime.datetime(2006, 2, 15, 5, 3, 42)),
 (3, 'ADAPTATION HOLES', 'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory', 2006, 1, None, 7, Decimal('2.99'), 50, Decimal('18.99'), 'NC-17', {'Trailers', 'Deleted Scenes'}, datetime.datetime(2006, 2, 15, 5, 3, 42))]

### ```WHERE```: Limitando Filas o Entradas a lo Inteligente, FILTRANDO

Acá entra en juego el poder descriptivo del SQL. La cláusula ``WHERE`` nos permite especificar condiciones para filtrar las filas que queremos ver.

La consulta se procesa lógicamente así: 

1. MySQL mira la tabla en FROM. 
2. Aplica el filtro WHERE para decidir qué filas conservar.
3. Finalmente, devuelve las columnas que pediste en SELECT de esas filas filtradas.

In [19]:
%%sql
-- "Seleccioná las entradas de todos los campos de la tabla actor,
--  pero solo para aquellas donde el cmapo nombre es John (y devolveme el resultado como tabla),"
SELECT * FROM actor WHERE first_name = 'JOHN';

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
1 rows affected.

[(192, 'JOHN', 'SUVARI', datetime.datetime(2006, 2, 15, 4, 34, 33))]

### ``ORDER BY``: Cuando queremos poner las cosas en orden

La cláusula ``ORDER BY`` hace exactamente lo que su nombre indica: ordena las filas del resultado final. Es increíblemente útil para encontrar los valores más altos, los más bajos, o simplemente para presentar la información de una manera lógica.

Se la suele colocar casi al final de cualquier consulta, aunque antes que ``LIMIT`` (si es que esta última se encuentra en la consulta también).

Usamos ``DESC`` para ordenar de mayor a menor (descendente).

Usamos `ASC` para ordenar de menor a mayor (ascendente). Este es el por defecto si al hacer el `ORDER BY` nos salteamos especificar de que forma!

El SQL entiende que si hay numeros el orden será numérico, si hay caracteres el orden será alfabético, etc.

In [3]:
%%sql
-- "Seleccioná los identificadores de cliente (customer_id) y el monto pagado (amount)
--  de la tabla payment, ordenando primero por los montos más altos (ORDER BY amount DESC)
--  y mostrando solo las 5 filas con mayor cantidad pagada (LIMIT 5)."

-- En otras palabas, queremos ver los 5 pagos más altos alguna vez realizados por clientes en nuestra tienda.
SELECT customer_id, amount FROM payment ORDER BY amount DESC LIMIT 5;

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
5 rows affected.

[(116, Decimal('11.99')),
 (362, Decimal('11.99')),
 (13, Decimal('11.99')),
 (204, Decimal('11.99')),
 (592, Decimal('11.99'))]