# Notebook: Alquileres por Combinación de Categoría y Actor

Este notebook permite consultar, por cada combinación de categoría y actor, el nombre de la categoría, nombre y apellido del actor, y la cantidad de alquileres realizados de cada categoría por películas de cada actor en la base de datos Sakila.

## 1. Notebook Setup

Configura la extensión SQL y la conexión a la base de datos Sakila usando `%sql`.

In [ ]:
# Cargar extensión SQL y conectar a la base de datos Sakila
%reload_ext sql
%sql mysql+mysqlconnector://root:root@localhost:3306/sakila

## 2. Explorar Tablas Relevantes

Consulta las tablas `category`, `actor`, `film_actor`, `film_category` y `rental` para entender su estructura y relaciones.

In [ ]:
%%sql
DESCRIBE category;

In [ ]:
-- Estructura de la tabla actor
DESCRIBE actor;

In [ ]:
-- Estructura de la tabla film_actor
DESCRIBE film_actor;

In [ ]:
-- Estructura de la tabla film_category
DESCRIBE film_category;

In [ ]:
-- Estructura de la tabla rental
DESCRIBE rental;

Ahora visualizamos algunos registros de cada tabla para comprender mejor los datos.

In [ ]:
-- Primeros registros de category
SELECT * FROM category LIMIT 5;

In [ ]:
-- Primeros registros de actor
SELECT * FROM actor LIMIT 5;

In [ ]:
-- Primeros registros de film_actor
SELECT * FROM film_actor LIMIT 5;

In [ ]:
-- Primeros registros de film_category
SELECT * FROM film_category LIMIT 5;

In [ ]:
-- Primeros registros de rental
SELECT * FROM rental LIMIT 5;

## 3. Generar Producto Cartesiano Categoría-Actor

Realiza un CROSS JOIN entre `category` y `actor` para obtener todas las combinaciones posibles.

In [ ]:
%%sql
-- Producto cartesiano entre categoría y actor
SELECT
    category.category_id,
    category.name AS category_name,
    actor.actor_id,
    actor.first_name,
    actor.last_name
FROM
    category
CROSS JOIN
    actor
LIMIT 10;

## 4. Contar Alquileres por Categoría y Actor

Utiliza LEFT JOINs para unir las tablas necesarias y cuenta los alquileres (`rental`) por cada combinación de categoría y actor.

In [ ]:
%%sql
-- Contar alquileres por cada combinación de categoría y actor
SELECT
    c.name AS category_name,
    a.first_name,
    a.last_name,
    COUNT(r.rental_id) AS rental_count
FROM
    category c
CROSS JOIN
    actor a
LEFT JOIN film_actor fa ON fa.actor_id = a.actor_id
LEFT JOIN film_category fc ON fc.film_id = fa.film_id AND fc.category_id = c.category_id
LEFT JOIN inventory i ON i.film_id = fa.film_id
    AND fc.category_id = c.category_id
LEFT JOIN rental r ON r.inventory_id = i.inventory_id
GROUP BY
    c.category_id, a.actor_id
ORDER BY
    c.name, a.last_name, a.first_name
LIMIT 20;

## 5. Mostrar Resultados Finales

La siguiente tabla muestra el nombre de la categoría, nombre y apellido del actor, y la cantidad de alquileres para cada combinación de categoría y actor. Si el actor no tiene películas en esa categoría o no hay alquileres, el conteo será 0.

In [ ]:
-- Mostrar todos los resultados sin límite (puede ser una consulta pesada)
SELECT
    c.name AS category_name,
    a.first_name,
    a.last_name,
    COUNT(r.rental_id) AS rental_count
FROM
    category c
CROSS JOIN
    actor a
LEFT JOIN film_actor fa ON fa.actor_id = a.actor_id
LEFT JOIN film_category fc ON fc.film_id = fa.film_id AND fc.category_id = c.category_id
LEFT JOIN inventory i ON i.film_id = fa.film_id
    AND fc.category_id = c.category_id
LEFT JOIN rental r ON r.inventory_id = i.inventory_id
GROUP BY
    c.category_id, a.actor_id
ORDER BY
    c.name, a.last_name, a.first_name;