## Setup del SQL y Ejemplo
Esta celda es encesaria en cada notebook ya que conecta a la extensión de Jupyter Notebook con el lenguaje SQL y permite además conectarse a el sakila del repo

In [1]:
#load_ext sql
%reload_ext sql 
%sql mysql+mysqlconnector://root:root@localhost:3306/sakila

## Prueba 1
Obteniendo la cantidad total de películas disponibles

In [3]:
%%sql
SELECT COUNT(*) AS total_films FROM film;

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
1 rows affected.

[(1000,)]

# Prueba 2
Obteniendo las tablas totales que hay en Sakila y su nombre

In [13]:
%%sql
SELECT COUNT(*) AS total_tables
FROM information_schema.tables
WHERE table_schema = 'sakila';

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
1 rows affected.

[(23,)]

In [9]:
%%sql
SHOW TABLES;

 * mysql+mysqlconnector://root:***@localhost:3306/sakila
23 rows affected.

[('actor',),
 ('actor_info',),
 ('address',),
 ('category',),
 ('city',),
 ('country',),
 ('customer',),
 ('customer_list',),
 ('film',),
 ('film_actor',),
 ('film_category',),
 ('film_list',),
 ('film_text',),
 ('inventory',),
 ('language',),
 ('nicer_but_slower_film_list',),
 ('payment',),
 ('rental',),
 ('sales_by_film_category',),
 ('sales_by_store',),
 ('staff',),
 ('staff_list',),
 ('store',)]